/*CSS sheet for Basic-Profile page*/
* {
  box-sizing: border-box;
}


/* background for all the page */
body{
background-image: url("../images/white_brick_wall.png");
}


/*header background color */
.header_content{
	clear: both;
	background-color: #ffffff;
	border-spacing: 1px;
	height: 90px;
	border: 1px solid #eee;
	font-family: "Georgia", "Times New Roman", Times, serif;

}

/* for Displaying the name*/
.Logo{
	float: left;
	background: #4aaaa5;
	padding: 30px;
	height:80px;
	width:30%;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	color:white;
	font-family: "Georgia", "Times New Roman", Times, serif; 

}

/* To navigate between pages */
.div_nav{
	
		width: 55%;
		float: right;
		text-align: right;
}


ul{
	margin-top: 45px;
	list-style-type: none;
	
}

li{
	display: inline;
}


li a {
       
       width: 90px;
       background-color: white;
       border: 1px; /* solid red; */
       padding: 10px;
       font-family: "Georgia", "Times New Roman", Times, serif;
       color: gray;
       text-align: center;
       text-decoration: none;
       font-size: 15px;

}


/* Center the Main content in all pages*/

.container{
	max-width: 960px;
	margin: auto;
}


h1{
	text-align:left;
	color: #4aaaa5;
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-weight: 900;
	font-size: 25px;
	padding-top: 6px;
	padding-bottom: 15px;
	border-bottom: 3px solid gray;
	margin-bottom: 15px;
}


/*The main content for all page */

.mainbox {
	float: left;
	width: 650px;
	height: auto;
	background: #ffffff;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}


/*Picture of the About me page*/

img.about_page {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
    height: 250px;
    width: 300px;
	border-style: double;
	border: 2px solid #4aaaa5; 
}

/*Writing for about me page */
p{
	line-height: 1.5;
	text-align: left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


/* Classes for contact box or the side bar*/
.contactbox {
	float: right;
	width: 270px;
	margin-top: 50px;
	/*position: relative;*/
	background: #ffffff;
	padding: 20px;
 	text-align: center;
}

/* heading for the sidebar */

h3.sidebar_header{
	color: #4aaaa5;
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-weight: bolder;
	font-size: 15px;
	padding-top: 4px;
	padding-bottom: 8px;

}


/*icon size*/

img.icon_size{
	/*float: left;*/
	width:50px;
	height: 50px;
	margin: 5px;
}




/* Footer */
footer {
	background: #666666;
	clear: both;
	position: fixed;
	height:50px;
	width: 100%;
	border-top: 3px solid #4aaaa5;
	bottom:0px;
	left:0;

	text-align: center;
	padding-top: 20px;

	color: white;
	font-size: 8px;
	font-family:"Georgia", Times, "Times New Roman", serif; 


	z-index: 2;

}

/*contact page forms*/


/* align the lables to left */
.lable_align{
	text-align: left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
}

.name,
.email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

textarea.message{
	width: 100%;
	height:100px;
	border: 2px solid #ccc;
	padding: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input input[type=submit]{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
   /* cursor: pointer; */
}





/*   portfolio   */

img.portfolio_image{
	width: 100%;
	height: 90%;
}


.box_to_hold_pic{
	float: left;
	position: relative;
	height: 250px;
	width: 250px; 
	border: 2px;
	padding: 25px;
	margin-right: 0px;
	z-index: 0;
}

.box_to_hold_pic:nth-child(even) {
	margin-right: 80px;
}


.banner{
	position: absolute;
	height: 40px;
	width: 80%;
	top: 150px;
	/*left: 22px;*/
	background-color: #4aaaa5;
	z-index: 1;
	border: 2px;
}

h3.bannertext{
	padding-top: 10px;
	padding-bottom: 8px;
	font-size: 20px;
	font-weight: lighter;
	color:white;
	font-family: "Georgia", "Times New Roman", Times, serif; 
	
}



/* If the screen goes below 959px the contact box/side bar goes down*/

@media only screen and (max-width: 959px) {
	.container{
		width: 90%;
		margin-top:0px;
	}
	.mainbox{
		width:100%;
	}

	.contactbox{
		clear: both;
		margin-left:auto;
		margin-right: auto;
		width:100%;
		margin-top: 10px;
	    margin-bottom: 20px;
	}

	footer {
	position:relative;
	}
	
/*if the screen size is 768px */
@media only screen and (max-width: 768px) {

	.container{
		width:90%; /* so we can still see the background */
		margin-top: 0px;
	}

	.mainbox{
		width: 100%; /* the details at top of the page*/
		margin-top: 15px;
		margin-bottom: 0px;
	}
	.contactbox{
		clear: both;
		margin-left:auto;
		margin-right: auto;
		width:100%;
		margin-top: 10px;
	}

/*footer is smaller*/
	footer {
	/*margin-top: 100px;*/
	position:relative;
}

/*img in about me page*/

img.about_page {
    height: auto;
    width: 30%;
	}

/*project page */


.box_to_hold_pic:nth-child(odd) {
	float: right;
	border: 3px;
	
}

.box_to_hold_pic:nth-child(even) {
	margin-right: 0;
	float: left;
	border: 3px;
	
}

.banner{	
	width: 80%;
}

}


/* code when the screen is small*/

@media only screen and (max-width: 640px) {

	.container{
		width:90%;
		margin-top: 0px;
	    margin-bottom: 0px;
	}

	.mainbox{
		width: 100%;
		margin-top: 10px;
	    margin-bottom: 0px;
	}
	.contactbox{
		margin-left:auto;
		margin-right: auto;
		width:100%;
		clear: both;
		margin-top: 10px;
	    margin-bottom: 20px;
	}

	/*logo fills the page*/
	.Logo{
		width:100%;
		height: 10px;
	}
	ul {
		clear:both;
		margin-top: 2px;
		text-align: center;
	} 

	li{
		min-width: 33%;
		float: left;

	}

	li a {
       padding-top: 0px;
       padding-bottom: 0px;
       width: 100%;
       margin: 0px;
       font-size: 25px;
    }

	.header_content{
	height: auto;
	}

	.div_nav{
		clear: both;
		width: 100%;
		background-color: white;
		
	}

	nav{
		width: 100%;
	}

	footer {
	position:relative;
	}

	/* about me pics */

	img.about_page {
    height: auto;
    width: 100%;
	}


/*project page */

.box_to_hold_pic{
	
	height: auto;
	width: 70%; 
	border: 0px;
	padding: 0px;
	margin-bottom: 40px;
}

.box_to_hold_pic:nth-child(even) {
	margin-right: 0px;
}

.banner{
	
	width: 100%;
	top: 150px;
	
}


}